.education {
    &:not(:last-child){
        padding-bottom: 1rem;
    }
}

.time {
    color: #AAA;
}
.year {
    color: #AAA;
}

.school {
    font-weight: bold;
    margin-bottom: 12px;
    color: #c66;
    
}

.major {
    font-size: 1rem;
    margin: 0;
}