@import "../index.scss";

.generalInformation{

}

.generalDescription {
   text-align: center;
}

@media screen and (min-width: 481px){
    .contact {
        display: flex;
        align-items: center;
    }

    .socialMedia {
        display: flex;
        margin-left:auto;
        align-items: center;
    }

    .avatar {
        height: 20rem;
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    .contact {
        display: block;
      text-align: center;
    }

    .socialMedia {
        display: flex;
        margin-left:auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }

    .greating {
        text-align: center;
    }

    .avatar {
        height: 12rem;
        width: auto;
    }

    .greatingDescription {
        text-align: center;
    }
}



.avatar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.825rem;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
   
}

.shortDescription {
    text-transform: uppercase;
}


.greating {
    margin: 1rem 0;
}

.greatingDescription {
    margin: 1rem 0;
}


.channel {
    color: #444444;
}