.workExperience {
  &:not(:last-child) {
    padding-bottom: 1rem;
  }
}

.company {
  margin-bottom: 1rem;
}

.project {
  margin-bottom: 1.25rem;
}

.name {
  font-weight: bold;
  color: #c66;
}

.companyName {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-right: 12px;
}

.time {
  color: #aaa;
  margin: 0;
  text-align: right;
}


.description {
}

.responsibilities {
  font-size: 1rem;
}
